

        {{#each devices}}

            <tr data-type="selectable" data-deviceid="{{deviceIdentifier}}" data-devicetype="{{type}}">
                <td class="remove-padding icon-only content-fill viewEnabledIcon"
                {{#unequal enrolmentInfo.status "REMOVED"}}
                    data-url="../device/{{type}}?id={{deviceIdentifier}}"
                {{/unequal}}
                    >
                    <div class="thumbnail icon">
                        <i class="square-element text fw fw-mobile"></i>
                    </div>
                </td>
                <td data-search="{{properties.DEVICE_MODEL}},{{properties.VENDOR}}" data-display="{{properties.DEVICE_MODEL}}">
                    <h4>Device {{name}}</h4>
                    {{#if properties.DEVICE_MODEL}}
                        <div>({{properties.VENDOR}} - {{properties.DEVICE_MODEL}})</div>
                    {{/if}}
                </td>
                <td class="remove-padding-top" data-search="{{enrolmentInfo.owner}}" data-display="{{enrolmentInfo.owner}}" data-grid-label="Owner">{{enrolmentInfo.owner}}</td>
                <td class="remove-padding-top" data-search="{{enrolmentInfo.status}}" data-display="{{enrolmentInfo.status}}" data-grid-label="Status">
                    {{#equal enrolmentInfo.status "ACTIVE"}}<span><i class="fw fw-success icon-success"></i> Active</span>{{/equal}}
                    {{#equal enrolmentInfo.status "INACTIVE"}}<span><i class="fw fw-warning icon-warning"></i> Inactive</span>{{/equal}}
                    {{#equal enrolmentInfo.status "BLOCKED"}}<span><i class="fw fw-remove icon-danger"></i> Blocked</span>{{/equal}}
                    {{#equal enrolmentInfo.status "REMOVED"}}<span><i class="fw fw-disabled icon-danger"></i> Removed</span>{{/equal}}
                </td>
                <td class="remove-padding-top" data-search="{{type}}" data-display="{{type}}" data-grid-label="Type">{{type}}</td>
                <td class="remove-padding-top" data-search="{{enrolmentInfo.ownership}}" data-display="{{enrolmentInfo.ownership}}" data-grid-label="Ownership">{{enrolmentInfo.ownership}}</td>
                <td class="text-right content-fill text-left-on-grid-view no-wrap">
                    <!--{{#equal type "TemperatureController"}}
                        {{#equal status "INACTIVE"}}
                            <a href="#" data-click-event="remove-form" class="btn padding-reduce-on-grid-view claim-btn" data-deviceid="{{deviceIdentifier}}">
                                    <span class="fw-stack">
                                        <i class="fw fw-circle-outline fw-stack-2x"></i>
                                        <i class="fw fw-edit fw-stack-1x"></i>
                                    </span>
                                <span class="hidden-xs hidden-on-grid-view">Claim</span>
                            </a>
                        {{/equal}}
                    {{/equal}}-->
                </td>
            </tr>
        {{/each}}